<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.local.MySchedule.dao.ScheduleMapper">

    <!-- 根据日期查询日程 -->
    <select id="selectSchedulesByDate" parameterType="java.time.LocalDate" resultType="com.local.MySchedule.entity.Schedule">
        SELECT schedule_date AS scheduleDate, start_time AS startTime, end_time AS endTime, title, type_id AS typeId, 
               description, create_time AS createTime, update_time AS updateTime
        FROM schedule_record
        WHERE schedule_date = #{scheduleDate}
    </select>

    <!-- 根据类型查询日程 -->
    <select id="selectSchedulesByType" parameterType="int" resultType="com.local.MySchedule.entity.Schedule">
        SELECT schedule_date AS scheduleDate, start_time AS startTime, end_time AS endTime, title, type_id AS typeId, 
                description, create_time AS createTime, update_time AS updateTime
        FROM schedule_record
        WHERE type_id = #{typeId}
    </select>

    <!-- 根据类型和日期查询日程 -->
    <select id="selectSchedulesByTypeAndDate" parameterType="map" resultType="com.local.MySchedule.entity.Schedule">
        SELECT schedule_date AS scheduleDate, start_time AS startTime, end_time AS endTime, title, type_id AS typeId, 
               description, create_time AS createTime, update_time AS updateTime
        FROM schedule_record
        WHERE type_id = #{typeId} AND schedule_date = #{scheduleDate}
    </select>

    <!-- 根据时间查询日程 -->
    <select id="selectScheduleByTime" parameterType="map" resultType="com.local.MySchedule.entity.Schedule">
        SELECT schedule_date AS scheduleDate, start_time AS startTime, end_time AS endTime, title, type_id AS typeId, 
               description, create_time AS createTime, update_time AS updateTime
        FROM schedule_record
        WHERE start_time = #{startTime} AND end_time = #{endTime}
    </select>

    <!-- 创建日程 -->
    <insert id="createSchedule" parameterType="com.local.MySchedule.entity.Schedule">
        INSERT INTO schedule_record (schedule_date, start_time, end_time, title, type_id, description, create_time, update_time)
        VALUES (#{scheduleDate}, #{startTime}, #{endTime}, #{title}, #{type.typeId}, #{description}, #{createTime}, #{updateTime})
    </insert>

    <!-- 更新日程 -->
    <update id="updateSchedule" parameterType="map">
        UPDATE schedule_record
        SET title = #{schedule.title}, 
            type_id = #{schedule.type.typeId}, 
            description = #{schedule.description}, 
            update_time = #{schedule.updateTime}
        WHERE start_time = #{startTime} AND end_time = #{endTime} AND schedule_date = #{scheduleDate}
    </update>

    <!-- 删除日程 -->
    <delete id="deleteSchedule" parameterType="map">
        DELETE FROM schedule_record
        WHERE start_time = #{startTime} AND end_time = #{endTime} AND schedule_date = #{scheduleDate}
    </delete>

</mapper>
