<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日程清单</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <h1>日程清单</h1>
    <form action="/list" method="POST">
        <input type="date" id="start_date" name="start_date" th:value="${@dateFormatUtil.formatDate(StartDate)}">
        <input type="date" id="end_date" name="end_date" th:value="${@dateFormatUtil.formatDate(EndDate)}">
        <button type="submit">检索</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>日期</th>
                <th>日程</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="Entry: ${SchedulesGroup.entrySet()}">
                <td th:text="${@dateFormatUtil.formatDate(Entry.key)}"></td>
                <td class="schedule_day">
                    <div id="schedule" name="schedule" th:each="Schedule : ${Entry.value}">
                        <p th:if="${Schedule.scheduleType != null}"
                        th:style="'background-color:' + ${Schedule.scheduleType.bgColor} + 
                                  '; left:' + ${@dateFormatUtil.calculateLeftPosition(Schedule.startTime)} + 'px; 
                                  width:' + ${@dateFormatUtil.calculateWidth(Schedule.startTime, Schedule.endTime)} + 'px;'">
                            <span th:text="${Schedule.title}"></span><br/>
                            <span style="font-size: small;" th:text="${@dateFormatUtil.formatTime(Schedule.startTime)}"></span>
                            -
                            <span style="font-size: small;" th:text="${@dateFormatUtil.formatTime(Schedule.endTime)}"></span>
                        </p>
                        <p th:if="${Schedule == null}">
                            <span>无日程</span>
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <footer>
        <p><a href="/home">返回首页</a></p>
        <div th:if="${Error}">
            <p id="error" name="error" th:text="${Error}"></p>
        </div>
    </footer>
</body>
</html>
